@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #0E0F19;
    font-family: serif;
    color: #dae6db;
}

h3 {
    font-family: "Gudea", serif;
    color: #81A684;
    font-weight: bold;
}

/*-------------event page----------------*/

main {
    display: grid;
    grid-template-columns: 33% 67%;
}

/*-------------games page----------------*/

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 50px;
}

img {
    width: 300px;
    height: 300px
}

.filterMenu {
    display: flex;
    flex-direction: column;
}


.filterMenu li {
    display: none;
}

.open li {
    display: block;
}

.open a {
    display: none;
}

/*--------------calendar-----------------*/

ul {list-style-type: none;}
body {font-family: sans-serif;}

#title {
    text-align: center;
}

.month {
  padding: 70px 30px;
  background: rgb(61, 61, 61);
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: rgb(61, 61, 61);
  color: white !important
}