@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

body {
    background-color: #0E0F19;
    font-family: serif;
    color: #dae6db;
}

h3, h2 {
    font-family: "Gudea", serif;
    color: #81A684;
    font-weight: bold;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 25px;
    margin: 25px;
    font-size: 1.5rem;
    background-color: #282a38;
}

a {
    text-decoration: none;
    color: #81A684;
}

a:hover {
    color: #326835;
}

.hamburger-button {
    background-color: #0E0F19;
    border: none;
    color:#0E0F19;
}

/*-------------home page----------------*/

#hero {
    width: 100%;
    height: auto;
}

.home-header {
    display: flex;
    justify-content: center;
}

.events {
    background-color: #282a38;
    margin: 25px;
    padding: 25px;
}

.featured-games {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 25px 50px 50px 50px;;
}

.featured-games img {
    width: 500px;
    height: auto;
}

/*-------------event page----------------*/

main {
    display: grid;
    grid-template-columns: 33% 67%;
}

/*-------------games page----------------*/

.games-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-column-start: 1;
    grid-column-end: 4;
    margin: 50px;
}

img {
    width: 300px;
    height: 300px
}

.open li {
    display: block;
}

.open a {
    display: none;
}

.filter-list {
    justify-content: left;
    background-color: #0E0F19;
}

#filter-button {
   margin-left: 50px;
}

/*--------------calendar-----------------*/

ul {list-style-type: none;}
body {font-family: sans-serif;}

#title {
    text-align: center;
}

.month {
  padding: 70px 30px;
  background: rgb(61, 61, 61);
  text-align: center;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.month .prev {
  float: left;
  padding-top: 10px;
}

.month .next {
  float: right;
  padding-top: 10px;
}

.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

.days li .active {
  padding: 5px;
  background: rgb(61, 61, 61);
  color: white !important
}

/*-------------about page----------------*/
#body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authors {
    text-align: center;
}