@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=DM+Serif+Text:ital@0;1&display=swap');

header {
    background-color: #6E5B52;
}

h1, h2 {
    font-family: "DM Serif Text", serif;
}

h3, h4, #nav {
    font-family: "Cormorant Garamond", serif;
    font-weight: bold;
}

p {
    font-family: "Cormorant Garamond", serif;
}

nav {
    float: right;
    margin-bottom: 15px;
}

#nav {
    margin-right: 10px;
    text-decoration: none;
    font-weight: bold;
}

#hero {
    width: 100%;
    height: auto;
    max-width: 2000px;
}

#flex {
    display: flex;
    flex-wrap: wrap;
}