@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*-------------- header section -------------*/

header {
    background-color: #2A9D8F;
    font-size: 25px;
}

#header {
    display: flex;
    justify-content: center;
}

h1 {
    color: #E0FBFC;
    margin-top: 55px;
    font-family: Montserrat, serif;
}

figure {

}

nav {
    background-color: #264653;
    text-align: center;
    font-family: Roboto, serif;
}

a {
    color: #E0FBFC;;
    text-decoration: none;
    margin-right: 55px;
    margin-left: 55px;
    font-size: 20px;
    background-color: #264653;
}

/*-------------- main section -------------*/

main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

/*------------- grid sections -----------*/
.work {
    grid-column-start: 1;
    grid-column-end: 3;
    border: #264653 1px solid;
    border-radius: 10px;
    margin: 15px;
    box-shadow: 0 3px 10px rgb(88, 88, 88);
}

.place {
    grid-column-start: 3;
    grid-column-end: 4;
    border:#264653 1px solid;
    border-radius: 10px;
    margin: 15px 15px 15px 0px;
    box-shadow: 0 3px 10px rgb(88, 88, 88);
}

.certificates {
    grid-column-start: -4;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
    border: #264653 1px solid;
    border-radius: 10px;
    margin: 0px 15px 15px 15px;
    box-shadow: 0 3px 10px rgb(88, 88, 88);
}

/* ----------------------------------------*/

h2 {
    text-align: center;
    background-color: #E9C46A;
    padding: 10px 10px 5px 10px;
    margin-top: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-family: Montserrat, serif;
}

.course {
    list-style:square;
    display: block;
}

.cert {
    padding: 5px 60px;
    border-radius: 3px;

}

.beach {
    width: 100%;
    height: auto;
    max-width: 350px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.options {
    justify-content: space-between;
    display: flex;
    flex-wrap: wrap;
    border-top: #264653 1px solid;
    font-family: Roboto, serif;
}

.classes {
    background-color: #E76F51;
    font-size: 30px;
    padding: 10px 100px 10px 100px;
    margin: 25px 25px 25px 100px;
    border-radius: 5px;
    border: #264653 1px solid;
}

/*-------------- footer section -------------*/

footer {
    background-color: #264653;
    text-align: center;
    color: #E0FBFC;
}

/*-------------- header section -------------*/