@import url('https://fonts.googleapis.com/css2?family=Gudea:ital,wght@0,400;0,700;1,400&display=swap');

* {
    background-color: #0E0F19;
    font-family: serif;
    color: #dae6db;
}

h3 {
    font-family: "Gudea", serif;
    color: #81A684;
    font-weight: bold;
}